.a :global(#root) {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.a :global input[type='number'] {
  -moz-appearance: textfield;
}

.a :global input[type='number']::-webkit-outer-spin-button, .a :global input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.a .btn {
  margin: 5px;
}

.a .header {
  display: flex;
  justify-content: space-between;
  background: #fff !important;
  padding: 0 24px !important;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.06);
}

.a .header :global(.ant-input-affix-wrapper) {
  background-color: #f4f7ff;
  border-radius: 16px;
}

.a .header :global(.ant-input-affix-wrapper):hover {
  background-color: #f4f7ff;
}

.a .left {
  display: flex;
  align-items: center;
}

.a .logo {
  cursor: pointer;
  width: 184px;
  height: 27px;
}

.a .right {
  display: flex;
  align-items: center;
}

.a .btn {
  margin-left: 25px;
  font-size: 18px;
}

.a .user {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 12px;
  cursor: pointer;
}

.a .info {
  display: inline-flex;
  align-items: center;
}

.a .searchIcon {
  font-size: 14px;
}

.a .userIcon {
  font-size: 20px;
}

.a .loginBtn {
  margin-left: 4px;
}

.a .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.a .nickname {
  font-size: 14px;
  line-height: 18px;
}

.a .arrow {
  margin-left: 4px;
  font-size: 10px;
}

.a .menu :global(.ant-dropdown-menu) {
  min-width: 160px;
  border-radius: 10px;
}

.a .dropdownItem {
  display: flex;
  align-items: center;
}

.a .logoutIcon {
  font-size: 14px !important;
}

.a .wrapper :global .ant-modal-body {
  padding: 0 !important;
}

.a .table {
  margin: 12px 0;
  min-height: 520px;
}

.a .hdTips {
  font-size: 14px;
  font-weight: normal;
  color: #999;
  margin-left: 10px;
}

.a .wrap {
  display: flex;
  align-items: center;
  height: 120px;
  border: 1px solid #eee;
}

.a .image {
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.a .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.a .info .name {
  line-height: 29px;
}

.a .info .name .val {
  font-size: 16px;
  font-weight: bold;
}

.a .info .name .id {
  color: #666;
}

.a .info .desc {
  max-width: 28em;
  color: #666;
  line-height: 27px;
}

.a .loginModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a .loginModal :global(.ant-modal) {
  top: 0;
}

.a .loginModal :global(.ant-modal-content) {
  padding: 0 !important;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0 10px 30px 0 rgba(35, 35, 33, 0.2);
}

.a .loginModal :global(.ant-modal-body) {
  padding: 0 !important;
  overflow: hidden;
}

.a .loginModal :global(.site-svg) {
  display: inline;
}

.a .loginModal :global(.ico-login__close svg) {
  width: 19px;
  height: 18px;
}

.a .loginModal :global(.ico-ling-logo-black) {
  position: absolute;
  left: 48px;
  top: 49px;
  width: 117px;
  height: 51px;
}

.a .bg {
  font-size: 100px;
}

.a .content {
  width: 640px;
  height: 320px;
  position: relative;
  user-select: none;
}

.a .closeBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  font-size: 18px;
}

.a .closeBtn:hover {
  opacity: 0.5;
}

.a .btnGroup {
  position: absolute;
  top: 100px;
  right: 56px;
}

.a .jdBtn {
  width: 240px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  display: block;
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #f1f2f7;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.a .erpBtn {
  width: 240px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  display: block;
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #f1f2f7;
  color: #fff;
}

.a .erpBtn:hover {
  background: #fff;
}

.b :global(#root) {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.b :global input[type='number'] {
  -moz-appearance: textfield;
}

.b :global input[type='number']::-webkit-outer-spin-button, .b :global input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.b .btn {
  margin: 5px;
}

.b .header {
  display: flex;
  justify-content: space-between;
  background: #fff !important;
  padding: 0 24px !important;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.06);
}

.b .header :global(.ant-input-affix-wrapper) {
  background-color: #f4f7ff;
  border-radius: 16px;
}

.b .header :global(.ant-input-affix-wrapper):hover {
  background-color: #f4f7ff;
}

.b .left {
  display: flex;
  align-items: center;
}

.b .logo {
  cursor: pointer;
  width: 184px;
  height: 27px;
}

.b .right {
  display: flex;
  align-items: center;
}

.b .btn {
  margin-left: 25px;
  font-size: 18px;
}

.b .user {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 12px;
  cursor: pointer;
}

.b .info {
  display: inline-flex;
  align-items: center;
}

.b .searchIcon {
  font-size: 14px;
}

.b .userIcon {
  font-size: 20px;
}

.b .loginBtn {
  margin-left: 4px;
}

.b .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.b .nickname {
  font-size: 14px;
  line-height: 18px;
}

.b .arrow {
  margin-left: 4px;
  font-size: 10px;
}

.b .menu :global(.ant-dropdown-menu) {
  min-width: 160px;
  border-radius: 10px;
}

.b .dropdownItem {
  display: flex;
  align-items: center;
}

.b .logoutIcon {
  font-size: 14px !important;
}

.b .wrapper :global .ant-modal-body {
  padding: 0 !important;
}

.b .table {
  margin: 12px 0;
  min-height: 520px;
}

.b .hdTips {
  font-size: 14px;
  font-weight: normal;
  color: #999;
  margin-left: 10px;
}

.b .wrap {
  display: flex;
  align-items: center;
  height: 120px;
  border: 1px solid #eee;
}

.b .image {
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.b .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.b .info .name {
  line-height: 29px;
}

.b .info .name .val {
  font-size: 16px;
  font-weight: bold;
}

.b .info .name .id {
  color: #666;
}

.b .info .desc {
  max-width: 28em;
  color: #666;
  line-height: 27px;
}

.b .loginModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b .loginModal :global(.ant-modal) {
  top: 0;
}

.b .loginModal :global(.ant-modal-content) {
  padding: 0 !important;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0 10px 30px 0 rgba(35, 35, 33, 0.2);
}

.b .loginModal :global(.ant-modal-body) {
  padding: 0 !important;
  overflow: hidden;
}

.b .loginModal :global(.site-svg) {
  display: inline;
}

.b .loginModal :global(.ico-login__close svg) {
  width: 19px;
  height: 18px;
}

.b .loginModal :global(.ico-ling-logo-black) {
  position: absolute;
  left: 48px;
  top: 49px;
  width: 117px;
  height: 51px;
}

.b .bg {
  font-size: 100px;
}

.b .content {
  width: 640px;
  height: 320px;
  position: relative;
  user-select: none;
}

.b .closeBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  font-size: 18px;
}

.b .closeBtn:hover {
  opacity: 0.5;
}

.b .btnGroup {
  position: absolute;
  top: 100px;
  right: 56px;
}

.b .jdBtn {
  width: 240px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  display: block;
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #f1f2f7;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.b .erpBtn {
  width: 240px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  display: block;
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #f1f2f7;
  color: #fff;
}

.b .erpBtn:hover {
  background: #fff;
}

.c :global(#root) {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.c :global input[type='number'] {
  -moz-appearance: textfield;
}

.c :global input[type='number']::-webkit-outer-spin-button, .c :global input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.c .btn {
  margin: 5px;
}

.c .header {
  display: flex;
  justify-content: space-between;
  background: #fff !important;
  padding: 0 24px !important;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.06);
}

.c .header :global(.ant-input-affix-wrapper) {
  background-color: #f4f7ff;
  border-radius: 16px;
}

.c .header :global(.ant-input-affix-wrapper):hover {
  background-color: #f4f7ff;
}

.c .left {
  display: flex;
  align-items: center;
}

.c .logo {
  cursor: pointer;
  width: 184px;
  height: 27px;
}

.c .right {
  display: flex;
  align-items: center;
}

.c .btn {
  margin-left: 25px;
  font-size: 18px;
}

.c .user {
  display: flex;
  align-items: center;
  margin-left: 25px;
  font-size: 12px;
  cursor: pointer;
}

.c .info {
  display: inline-flex;
  align-items: center;
}

.c .searchIcon {
  font-size: 14px;
}

.c .userIcon {
  font-size: 20px;
}

.c .loginBtn {
  margin-left: 4px;
}

.c .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.c .nickname {
  font-size: 14px;
  line-height: 18px;
}

.c .arrow {
  margin-left: 4px;
  font-size: 10px;
}

.c .menu :global(.ant-dropdown-menu) {
  min-width: 160px;
  border-radius: 10px;
}

.c .dropdownItem {
  display: flex;
  align-items: center;
}

.c .logoutIcon {
  font-size: 14px !important;
}

.c .wrapper :global .ant-modal-body {
  padding: 0 !important;
}

.c .table {
  margin: 12px 0;
  min-height: 520px;
}

.c .hdTips {
  font-size: 14px;
  font-weight: normal;
  color: #999;
  margin-left: 10px;
}

.c .wrap {
  display: flex;
  align-items: center;
  height: 120px;
  border: 1px solid #eee;
}

.c .image {
  width: 60px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 50%;
}

.c .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c .info .name {
  line-height: 29px;
}

.c .info .name .val {
  font-size: 16px;
  font-weight: bold;
}

.c .info .name .id {
  color: #666;
}

.c .info .desc {
  max-width: 28em;
  color: #666;
  line-height: 27px;
}

.c .loginModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c .loginModal :global(.ant-modal) {
  top: 0;
}

.c .loginModal :global(.ant-modal-content) {
  padding: 0 !important;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0 10px 30px 0 rgba(35, 35, 33, 0.2);
}

.c .loginModal :global(.ant-modal-body) {
  padding: 0 !important;
  overflow: hidden;
}

.c .loginModal :global(.site-svg) {
  display: inline;
}

.c .loginModal :global(.ico-login__close svg) {
  width: 19px;
  height: 18px;
}

.c .loginModal :global(.ico-ling-logo-black) {
  position: absolute;
  left: 48px;
  top: 49px;
  width: 117px;
  height: 51px;
}

.c .bg {
  font-size: 100px;
}

.c .content {
  width: 640px;
  height: 320px;
  position: relative;
  user-select: none;
}

.c .closeBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  font-size: 18px;
}

.c .closeBtn:hover {
  opacity: 0.5;
}

.c .btnGroup {
  position: absolute;
  top: 100px;
  right: 56px;
}

.c .jdBtn {
  width: 240px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  display: block;
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #f1f2f7;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.c .erpBtn {
  width: 240px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  display: block;
  margin-bottom: 24px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #f1f2f7;
  color: #fff;
}

.c .erpBtn:hover {
  background: #fff;
}
